# .github/workflows/R-CMD-check.yaml
name: R-CMD-check

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macos-latest,   r: 'release'}
          - {os: ubuntu-latest,  r: 'devel'}
          - {os: ubuntu-latest,  r: 'release'}
          - {os: ubuntu-latest,  r: 'oldrel-1'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      # 1. Checkout code
      - uses: actions/checkout@v3

      # 2. Setup R
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}

      # 3. Install JAGS on Linux
      - name: Install JAGS on Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y jags

      # 4. Install JAGS on macOS
      - name: Install JAGS on macOS
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install jags

      # 5. Install R package dependencies
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: rjags, rcsvcheck, any::rcmdcheck

      # 6. Run R CMD check
      - name: Check R package
        uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
